# Lesson 15 - Pandas DataFrames (cont)


### The following topics are discussed in this notebook:
* The `dataframe` data type from the `pandas` package.

In [1]:
import numpy as np
import pandas as pd

### Sales Team Data

In [2]:
salesDF = pd.read_csv('state_data.csv')

In [7]:
salesDF.head()

,Abbv,State,Pop,Unemp,HS_Grad,BDeg,AdvDeg,Debt,GDP,MedInc15,MedInc14,MedInc13,MedInc12,MedInc11,HC2016,DT2016
0,AL,Alabama,4833722,4.2,84.3,23.5,8.7,8969350000,204861,44765,42830,42849,41574,41415,34.36,62.08
1,AK,Alaska,735132,7.2,92.1,28.0,10.1,5727891000,50713,73355,71583,72237,67712,67825,36.55,51.28
2,AZ,Arizona,6626624,5.0,86.0,27.5,10.2,14243659000,302952,51492,50068,48510,47826,46709,45.13,48.67
3,AR,Arkansas,2959373,3.5,84.8,21.1,7.5,4985140000,120689,41995,41262,40511,40112,38758,33.65,60.57
4,CA,California,38332521,5.1,81.8,31.4,11.6,151715007000,2602672,64500,61933,60190,58328,57287,61.73,31.62

Determine the number of employees in the DataFrame.

Print the total sales for each of the three months separately.

Calculate the average (mean) amount sold by each salesperson during January. Then do the same for February and March.

Calculate the total sales for each location in January.